/* ===== Scrollbar CSS ===== */

*::-webkit-scrollbar {
	width: 10px;
}

*::-webkit-scrollbar-track {
	background: none;
}

*::-webkit-scrollbar-thumb {
	background-color: #d1c51e;
	border-radius: 19px;
	border: 1px solid #000000;
}
